<h1>Listing Users</h1>

<table>
  <thead>
    <tr>
      <th>User name</th>
      <th>Role</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.user_name %></td>
        <td id="user-<%= user.id %>-role">
          <% if user.admin %>
            Admin
          <% else %>
            User
          <% end %>
        </td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td>
          <%= content_tag "a", class: "adminizer", patchPath: users_path + "/" + user.id.to_s  + "?[user]admin=" + (!user.admin).to_s do %>
            Toggle Admin Privilege
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %> note: this guy will have to not act like a new user signing up