
<div class="pure-g">
  <div class="pure-u center">
    <table class="stats-table">
      <tr>
        <td>User name:</td>
        <td><%= @user.user_name %></td> 
      </tr>
      <tr>
        <td>Email Address:</td>
        <td><%= @user.email %></td> 
      </tr>
      <tr>
        <td>Fresh Days Completed:</td>
        <td><%= @total_complete %></td> 
      </tr>
      <tr>
        <td>Current Streak:</td>
        <td><%= @current_streak %></td> 
      </tr>
      <tr>
        <td>Longest Streak:</td>
        <td><%= @longest_streak %></td> 
      </tr>
      <tr>
        <td>Awards Earned:</td>
      <td>coming soon!</td> 
      </tr>
    </table>
  </div>
</div>

<div class="pure-g">
  <div class="pure-u center">
    <% if @current_user.id == @user.id  %>
      <%= link_to 'Edit', edit_user_path(@user) %> |
    <% end %>
    <%= link_to 'Home', root_path %>
  </div>
</div>